# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# It also creates an instance of PostgreSQL database.

name: Menu Generator CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-job:
    runs-on: ubuntu-latest
    
    services:
      # Label used to access the service container
      postgres:
        image: postgres
        env:
          POSTGRES_DB: recipes
          POSTGRES_USER: menu_admin
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK = 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build and test with Maven
      run: cd backend && mvn test
            
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: recipes
        POSTGRES_USER: menu_admin
        POSTGRES_PASSWORD: postgres
